/* gradientText.css */
@keyframes gradientFloat {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.gradient-animate-text {
  background-size: 200% 200%;
  animation: gradientFloat 5s ease infinite;
}
